body {
    background-color: #f8f9fa;
}

.card {
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    border: none;
    border-radius: 10px;
}

.card-title {
    font-size: 1.25rem;
    font-weight: bold;
}
