<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Página de Inicio</title>
    <link rel="stylesheet" type="text/css" href="/css/styles.css">
</head>
<body>
    <div class="home-container">
        <div class="home-box">
            <h1>Bienvenido, <span th:remove="tag" sec:authentication="name"></span>!</h1>
            <p>Has iniciado sesión correctamente.</p>
            <a href="/logout" class="logout-button">Cerrar sesión</a>
        </div>
    </div>
</body>
</html>
